<!-- tri-screencap -->
{{ $name := .Get "name" }}
{{ $alt := .Get "alt" }}

{{ $style := "width: 100%;" }}
{{ $format := "png" }}
{{ if .Get "jpg" }}{{ $format := "jpg" }}{{ else }}{{ end }}
{{ if .Get "style" }}{{ $style := .Get "style" }}{{ else }}{{ end }}

{{ if .Get "center" }}<div class="center">{{ else }}{{ end }}
<a href="/img/screencaps/{{ $name }}/{{ $name }}.{{ $format }}">
<picture loading="lazy">
    <source type="image/jxl" srcset="/img/screencaps/{{ $name }}/{{ $name }}.jxl" style="{{ $style }}" loading="lazy" decoding="async" >
    <source type="image/avif" srcset="/img/screencaps/{{ $name }}/{{ $name }}.avif" style="{{ $style }}" loading="lazy" decoding="async" >
    <source type="image/webp" srcset="/img/screencaps/{{ $name }}/{{ $name }}.webp" style="{{ $style }}" loading="lazy" decoding="async" >
    <img src="/img/screencaps/{{ $name }}/{{ $name }}.{{ $format }}" alt="{{ $alt }}" style="{{ $style }}" loading="lazy" decoding="async" >
</picture>
</a>
{{ if .Get "center" }}</div>{{ else }}{{ end }}
